<h1> Today is <%= Date.today.strftime("%b %d, %Y") %>.</h1>
<h1> You're just <span id="progress-counter">4</span> Clicks Away! </h1>
<< PROGRESS GRAPHIC CENTERED HERE >>

<div id="content"><div>

<button id="complete_btn"> I read this.</button>