// Place all the styles related to the Batches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#content1 {
  font-weight: 700;
}

#content2 {
  font-weight: 300;
}

.white-center {
  color: #fff;
  text-align: center;
}

.please-log-in {
  text-align: center;
}

.center {
  margin: 0px auto;
}

#content, #content {
  margin: 1em;
}

.content-box {
  margin: 2em auto;
  background-color: rgba(255,255,255,0.8);
  display: inline-block;
  border-radius: 5px;
}

#complete_btn {
  margin-bottom: 2em
}
